@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-weight: bold;



}

.btn-flip-container {
    perspective: 1000px;
    display: inline-block;
  }
  
  .btn-flip-container .btn-flipper {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .btn-flip-container .btn-front,
  .btn-flip-container .btn-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .btn-flip-container .btn-back {
    transform: rotateY(180deg);
  }
  
  /* Button styles */
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .btn-back {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-back:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  




